html,
body{
	height: 100%;
}

.navbar {
    margin-bottom: 0px;
}

#cover{
	background: url('http://res.cloudinary.com/anthonyanader/image/upload/e_grayscale/v1468558850/mac-notebook-rightside.jpg') center center no-repeat;
	padding-top:;
	padding-bottom:150px;
	background-size: cover;
	color:white ;
	height: 100%;
	text-align:center;
	display: flex;
	margin:0;
	align-items:center;
	vertical-align:top;
	white-space:nowrap;
	
}

#cover-caption{
		
	width: 100%;
}

#about-me{
	background-color:#e6e6e6;
}

#uottawa{
	padding:50px 0 50px 0;	
}

#projects{
	background:  linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('http://res.cloudinary.com/anthonyanader/image/upload/e_grayscale/v1468558846/52_ogv5gj.jpg') no-repeat center center fixed;
	background-size:projects;
	padding-top:100px;
	padding-bottom:100px;
	background-size: cover;
	color: white;
	/* height: 100%; */
	text-align:center;
	display: flex;
	align-items:center;
	
}

#contactme{
		background-color:#e6e6e6;
}

.social-links{
	color:grey;
	font-size:50px;
	height:50px;
	width:50px;
}

.well{
	background-color:black; 
	opacity: 0.5;
   	filter: alpha(opacity=50);
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.text-center{
  text-align: center;
}

a{
    color: inherit; 
} 

.socials{
	padding-top:30px;
	padding-bottom:20px;
}
.flex-container{
    display: flex;
}
@media screen and (min-width: 770px){
    .flex-container{
        flex-direction: row;
    }
    .projects-padding{
        padding-right: 50px;
    }
}
@media screen and (max-width: 769px){
    .flex-container{
        flex-direction: column;
    }
    .flex-container .col-xs-4{
        width: 70% !important;
    }
    #about-me-container{
        text-align: justify;
        width: 100%;
    }
    section .container .row .projects-padding{
        padding-right: 0;
        width: 95% !important;
    }
    #contactme div.container div.row .col-md-4 h2, #contactme div.container div.row .col-md-4 h3{
        text-align: center;
    }
    section #skills div.container div#skillsleft, section#skills div.container div#frameworkright{
        width: 100%;
    }
}

@media only screen and (max-device-width: 480px) {
 	.intro {
  		font-size: 1.438em !important;
 	} 
 	.intro2 {
  		font-size: 12px !important;
 	} 

}
#projects ul{
    list-style: none;
}
